.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 40rem;
  padding: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
