.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 40rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.warning {
  font-weight: var(--font-weight-medium);
}

.button {
  width: fit-content;
}
